
      <div class="location-container">
        <h1 class="cover-heading position-value"><%= userAddress %></h1>
        <p class="lead position-description"><%= today %></p>
      </div>


      <div class="temperature-container">
        <h1 class="cover-heading temperature-value"><%= temp %> &#8451</h1>
        <div class="row  align-items-center mr-0">
          <div class="col-3">
            <!-- <i class="fas fa-sun weather-icon"></i> -->
            <img src="<%= iconUrl %>" alt="Weather Condition Image" class="weather-icon">
          </div>

          <div class="col-3">
            <p class="lead position-description"><%= weatherCondition %></p>
          </div>
        </div>
      </div>

<div class="scrollmenu">
  <div class="row flex-nowrap">

<% for (let i = 0; i < hourlyTime.length; i++) { %>
    <div class="col-4 hourly-weather">

        <p><%= hourlyTime[i] %></p>
        <h3><%= hourlyTemperature[i] %></h3>
        <img src="<%= hourlyIcon[i] %>" alt="Weather Condition Image" class="weather-icon-hourly">
        <p><%= hourlyWeatherDescription[i] %></p>
    </div>
<% }; %>
